{% extends 'base.html' %}
{% block content%}

<style>
    .button{
        margin-left: 40%;

    }
    .container{
        margin-top: 5%;
    }
    
</style>
<div class="col-md-6 offset-md-3">



<div class="container">
<h1 style="margin-left: 36%;" >Signup</h1>
<br/>
<form method="POST">
    {% csrf_token %}

        <div class="mb-3">
            <label style="margin-bottom: 2%;" for="username">Username:</label>
            
          <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" required>
         
        </div>
        <div class="mb-3">
            <label style="margin-bottom: 2%;" for="email">Email id:</label>
            
          <input type="text" class="form-control" id="emailid" name="emailid" placeholder="Enter Email id" required>
         
        </div>
        <div class="mb-3">
            <label style="margin-bottom: 2%;" for="phnum">Contact Number:</label>
            
          <input type="teXT" class="form-control" id="phnum" name="phnum" placeholder="12345-67890" required>
         
        </div>
  
        <div class="mb-3">
            <label style="margin-bottom: 2%;" for="password">Password:</label>
            
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
        </div>
        <div class="mb-3">
            <label style="margin-bottom: 2%;" for="password"> Confirm Password:</label>
            
          <input type="password" class="form-control" id="confirm_password" name="conpassword" placeholder="Confirm Password" required>
        </div>
       <br/>
       <div class="button">
        <button type="submit" class="btn btn-secondary">Signup</button>
        </div>
      </form>
</form>
    </div>
</div>
<script>
    function validateForm() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm_password").value;

        // Check if passwords match
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }

        // Check password criteria
        var passwordCriteria = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
        if (!passwordCriteria.test(password)) {
            alert("Password must contain at least one digit, one lowercase and one uppercase letter, and be at least 8 characters long.");
            return false;
        }

        return true;
    }
</script>




{% endblock %}